.post--full-size
  %h2
    = post.title
    %small
<<<<<<< HEAD
      = post.friendly_date
=======
      = post.created_at
>>>>>>> e222d25e8246153ff10b6872742a333fe79e55c1
  = link_to "edit", edit_post_path(post), class: 'post__button--edit'

  .post__body
    = post.body
  .post__tags-list.tagsinput
    - post.tags_array.each do |tag|
      = content_tag :span, tag, class: 'tag'
